body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(148,54,52);
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(148,54,52);
}